body{
    height:100%;
    background-color: lightgrey;
}

h1 {
    text-align: center;
    color:salmon
}


.btnContainer {
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content:center; 
    margin: 35%;
    margin-top: 5%;
    border: 1em solid darkblue; 
    border-radius: 6px;
}

.square{
    height: 0;
    background-color: white;
}

.btnBlack{
    color: black;
    background-color: black;
    border-radius: 10px;
    width: 4%;
}

.btnRed{
    color: red;
    background-color: red;
    border-radius: 10px;
    width: 4%;
}

.btnBlue{
    color: blue;
    background-color: blue;
    border-radius: 10px;
    width: 4%;
}

.btnGreen{
    color: green;
    background-color: green;
    border-radius: 10px;
    width: 4%;
    
}

.btnClear {
    color: black;
    background-color: with;
    border-radius: 10px;
    margin: 0 2%;
}