body{
    height:100%;
    background-color: lightgrey;
}

h1 {
    text-align: center;
    color:salmon
}

.btnClear .btnColor{
    border: 0.1em solid;
    border-radius: 4px;
    background-color: lightgrey;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-wrap: wrap;
    justify-content:center; 
    margin: 35%;
    margin-top: 5%;
    border: 1em solid darkblue; 
    border-radius: 6px;
}

.square{
    height: 0;
    background-color: white;
}


/* .squareHovered{
    background-color: black;
} */